#container_acuerdo{
    border: solid salmon 2px;
}    
#guardar_acuerdo{
    visibility: visible;
    color: black;
    font-weight: bold;
}
#editor_modal{
    padding-top: 3%;
}
#myModal{
    
    position: fixed;
}
#row_acuerdos{
    padding-top: 2%;
}
#tabla_ac{
    padding-bottom:2% ;
}
#btn_agregar_acuerdo{
    display: block;
    margin: auto;
}
.img_edit{
    background:url("./images/edit.svg") no-repeat ;
    border: none;
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
}
#div_desc_actas{
    padding-bottom:2%;
}
#container_principal{
    padding-bottom: 2%;
}
 #enviar_acta{
     padding:5%;
 }
 #almacenar_local_storage{
    padding:5%;
 }
 #traer_local_storage{
    padding:5%;
 }